<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClasesBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClasesBase.Properties.Settings>
            <setting name="conexion" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\moises\Desktop\lpoo\projectos\TP3_GRUPO7\Base\prestamos.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True</value>
            </setting>
        </ClasesBase.Properties.Settings>
    </applicationSettings>
</configuration>